   ../.DS_Store
        ../.localized
        ../AWS Credentials /
        ../Adobe XD UX Notes/
        ../Array_CatsCakeEmporium/
        ../CFG Coding_Course/
        ../CFG Intro to Web Development/
        ../CFG Python/
        ../Exercise Files - Adobe XD/
        ../GitHub Desktop.app/
        ../InstructorHQ Mockup/
        ../JavaScript30 Notes/
        ../JavaScript30/
        ../Objects_HotelBerlin/
        ../Personal/
        ../RCJ - GO CLOUD.RDP
        ../The-WindList-app/
        ../Web Development/
        ../XD High & Low Fidelity Design/
        ../stepintotech_course/
        ../~$grids.pptx